@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}

section#iphone {
    width: 311px;
    height: 627px;
    position: relative;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section#iphone > iframe {
    position: absolute;
    left: 6.5%;
    top: 12.5%;
    height: 470px;
    width: 266px;
}

section#botoes {
    text-align: right;
}

section#botoes img {
    width: 70px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
    box-sizing: border-box;
}

section#botoes img:hover {
    border: 2px solid white;
    transform: translate(-5%, -5%);
}




